html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1.6rem;
}


/* header */
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho ul {
  display: flex;
}

.cabecalho ul li {
  margin: 0 30px 0 23px;
}

.cabecalho ul li a:hover {
  font-weight: bold;
}

.cabecalho a img {
  padding: 25px 27px;
}


/* painel */
.painel {
  background: url(../images/painel.jpg) center center no-repeat;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.painel h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}


/* section quem somos */
.secao-com-texto {
  padding: 153px;
  text-align: center;
}

.secao-com-texto img {
  width: 170px;
  height: 170px;
  margin-bottom: 70px;
}

.secao-com-texto h2 {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 37px;
}

.secao-com-texto p {
  font-size: 18px;
  width: 702px;
  margin: 0 auto;
}

.secao-com-texto.onde-estamos img {
  margin-top: 153px;
}

.secao-com-texto.onde-estamos p {
  font-size: 28px;
  width: 480px;
}



/* ladrilho */
.ladrilho div {
  float: left;
}

.ladrilho .img-grande {
  background: url(../images/4.jpg) center center no-repeat;
  height: 600px;
  width: 50%;
}

.ladrilho .img-pequeno.grao {
  background: url(../images/2.jpg) center center no-repeat;
  height: 300px;
  width: 25%;
}

.ladrilho .img-pequeno {
  background: url(../images/3.jpg) center center no-repeat;
  height: 300px;
  width: 25%;
}

.ladrilho .img-medio {
  background: url(../images/1.jpg) center center no-repeat;
  height: 300px;
  width: 50%;
}


/* section contato */
.section-contato {
  background: url(../images/fundo-contato.jpg) center center no-repeat;
  height: 600px;
  width: 100%;
  position: relative;
}

.section-contato h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 30px;
}

.section-contato address {
  color: #fff;
  font-weight: 600;
  font-size: 25px;
}

.section-contato .contato {
  position: absolute;
  top: 30%;
  left: 50%;
}


/* footer */
.rodape {
  background: url(../images/fundo-rodape.jpg) center center no-repeat;
  height: 211px;
}

.rodape .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rodape .container .logo img {
  margin: 35px 30px;
}

.rodape .redes-sociais {
  display: flex;
  justify-content: flex-end;
}

.rodape ul {
  display: flex;
}

.rodape .container ul li {
  margin: 0 30px 0 23px;
}

.rodape ul li a {
  color: #fff;
}

.rodape ul li a:hover {
  font-weight: bold;
}

.rodape .container .redes-sociais .facebook,
.rodape .container .redes-sociais .instagram {
  width: 20px;
  height: 20px;
  margin: 0 10px 25px 10px;
}

.rodape .container .redes-sociais .instagram {
  margin-right: 26px;
}

.rodape .container .copyright {
  color: #fff;
  margin: 0 0 25px 30px;
}